{% extends "twocolumn.html" %}
{% block content %}
<h1>{{collection.name}}</h1>
{% if collection.type == "library" %}
Version: {% if collection.version %}{{ collection.version }}{% else %}<i>undefined</i>{% endif %}
&#x2022
Scope: {% if collection.scope %}{{collection.scope}}{% else %}<i>undefined</i>{% endif %} <br>
{% endif %}
{% if collection.path != None %}
<span class='file-path'>{{collection.path}}</span>
{% endif  %}

<!-- &#x2022 Named Arguments: {{collection.named_args}} -->
{% if collection.doc %}
<h2>Introduction</h2>
{% autoescape false %}
{{ collection.html_doc(collection.doc_format or "ROBOT") }}
{% endautoescape %}
{% endif %}
<h2>Keywords</h2>
<table class=example border=1>
  <tr><th>Keywords</th><th>Arguments</th><th>Documentation</th></tr>
  {% for keyword in collection.keywords %}
  {% autoescape false %}
  <tr id='kw-{{keyword.id}}' {% if keyword.id == keyword_id %} class="selected" {% endif %}>
    <td valign='top'><b>{{keyword.name}}</b></td>
    <td valign='top'>{{keyword.arg_string}}</td>
    <td valign='top'>{{keyword.html_doc()}}</td>
  </tr>
  {% endautoescape %}
  {% endfor %}
</table>
{% endblock %}
